@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --verde: #3A5A40;
    --verde2: #344E41;
    --verde3: #5A9F68;
    --bg: #bbd58e;
    --texto: #23272a;
}

* {
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: var(--bg);
    padding: 1em;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: var(--verde2);
}

h2 {
    font-size: 1.5em;
    color: var(--verde2);
}

article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 66%;
}


article div {
    width: 60%;
    font-size: 1.1em;
}

article div ion-icon {
    cursor: pointer;
    font-size: 2em;
    color: #5A9F68;
}

article div ion-icon:hover {
    color: var(--verde2);
}

article img {
    width: 150px;
    border-radius: 10px;
}

article.topicos {
    display: inherit;
}

article.topicos:nth-of-type(2) {
    margin-top: 3em;
}

p {
    color: var(--texto);
}

a {
    display: block;
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
    color: var(--verde);
}

a:hover {
    color: var(--verde3);
}

/* RESPONSIVO */
@media (max-width: 720px) {
    article {
        margin: 0;
        flex-direction: column;
        width: 100%;
    }

    article div {
        width: 80%;
        text-align: center;
    }
}